body,html {
	font-style: italic;
	height: 100%;
	width: 100%;
	background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
	color: white;
	font-size: 35px;
}
hr{
	background-color: #D3662F;
	height: 5px !important;
	opacity: 100%;
	width: 60px;
	margin: auto;
}
.btn-primary{
	background-color: #D3662F;
	border: #D3662F solid 2px;
	padding: 1rem;
	border-radius: 50px;
	margin-top: 8px;
}
.btn-primary:hover {
	background-color: #FF6517;
	border: #FF6517 solid 2px;
	border-width: 3px;
}
.resize{
	height: 150px;
}
.container{
	max-width:65%;
}